.players {
    display: flex;
    flex-direction: row;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.combos-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    padding-bottom: 20px;
    width: 400px;

    border: 5px transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: rgba(0, 0, 0, .2);
}

.player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.player-name{
    color: white;

    font-size: 30px;
    font-weight: bold;

    margin-bottom: 10px;
}

.resource-table-container {
    flex: 1;
}

.resource-table {
    display: flex;
    flex: 1;
    width: 100%;
    border-collapse: collapse;
}

.resource-table th, .resource-table td {
    border-top: 5px solid rgb(27,32,39);
    border-bottom: 5px solid rgb(27,32,39);
    padding: 8px;
    text-align: center;
    font-size: 30px;
}

.transparent {
    opacity: 25%;
}

.resource-table th {
    background-color: #393E46;
    background-color: rgba(57, 62, 70, .5);
    width: 70px;
    height: 70px;
}

.resource-table tr {
    background-color: #00ADB5;
    background-color: rgba(0, 173, 181, .5);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Adjust the size and styles of the SVG images as needed */
.svg-icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.svg-icon-development {
    width: 45px;
    margin-left: 20px;
    margin-right: 20px;
}
.svg-icon-resource {
    width: 42px;
    height: 60px;
}
.icon-pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status {
    background-color: gray;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.svg-icons{
    display: flex;
    flex-direction: row;
}
.can {
    background-color: lime;
}
.could {
    background-color: red;
}
.cant {
    opacity: 25%;
}

.bw-svg {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 75%;
}

#scroll-container {
    max-height: 650px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #222831;
}
::-webkit-scrollbar-thumb {
    background-color: #222831;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #222831;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}